* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c7a81f;
}

header {
  background-color: #dba226;
  color: rgb(255, 255, 255);
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

h2 {
  color: #1e54a7;
  margin-bottom: 20px;
}

section {
  background-color: rgb(209, 49, 84);
  padding: 40px 0;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(97, 22, 219, 0.1);
}

.project {
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #39cfc8;
}

form button {
  padding: 10px 20px;
  background-color: #6532da;
  color: rgb(224, 171, 171);
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #4076c7;
}

footer {
  text-align: center;
  background-color: #e02d54;
  color: rgb(45, 226, 54);
  padding: 20px 0;
}
